/* Importa todas as fontes */

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}