/* Style CSS */
* {
    margin:0 auto;
    padding: 0;
    
}

body{
    /* block-size: fit-content; */
    display: block; 
	position: relative; 
	width: 1280px;
    /* border: 2px solid #05013A; */
}

a:link{ /* Remove underline do link*/
    text-decoration: none;
}

/* HEADER & MENU ----------------- */
h1#logo-texto{
    font-family:  Montserrat-ExtraBold;
    font-size: 40px;
    color: #D81515;
    position: absolute;
    left: 126px;
    top: 54px;
    text-align: left;
}

#logo-laco{

    position: absolute;
    top: 46px;
    left: 66px;
}

header {
    height: 124px;
    border-bottom: 9px solid #3D2DEF;
    text-align: center;
}


nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    position: absolute;
    top: 72px;
    left: 657px;
}

nav#menu li{
    display: inline-block;
    color: #3D2DEF;
    font-size: 20px;
    font-family: Montserrat-ExtraBold;
    margin-right: 15px;
    
}

nav#menu a{ color:#3D2DEF;}

nav#menu #loginbtn{
    border: 4px solid #3D2DEF;
    border-radius: 30px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Section Apresentação --------- */
section#apresentacao{
    border-bottom: 5px solid #3D2DEF;
    height: 848px;
}

section#apresentacao h1{
    float:left;
    font-family: Montserrat-ExtraBold;
    font-size: 32px;
    color: #3D2DEF;
    margin-left: 153px;
    margin-top: 185px;
}

section#apresentacao p{
    position: absolute;
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: #05013A;
    margin-top: 316px;
    margin-left: 153px;
}

#cachorro1elipse{
    float: right;
    margin-top: 44px;
    margin-right: 91px;
}
#cachorro2elipse{
    float: right;
    margin-top: 215px;
    margin-right: -24px;
}

section#apresentacao button{
    background-color: #3D2DEF;
    width: 234px;
    height: 48px;
    float: left;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    margin-top: 192px;
    margin-left: 138px;
    cursor: pointer;
}

section#apresentacao a#btn-queroapadrinhar{
    float:left;
    color: #3D2DEF;
    font-family: Montserrat-Extrabold;
    font-size: 20px;
    margin-top: 202px;
    margin-left: 23px;
}

/* Section Fazer a Diferença --------- */
section#fazer_diferenca {
    height: 880px;
    border-bottom: 5px solid #3D2DEF;
}


section#fazer_diferenca h2{
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
    color: #D81515;
    text-align: center;
    margin-top: 58px;
}

#cachorro3{
    position: absolute;
    margin-left: 400px;
    margin-top: -35px;
}

#container1 h3{
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #D81515;
    margin-left: 290px;
    margin-top:130px;
    
}

#container1 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    text-align: right;
    position: absolute;
    margin-left: 149px;
}

#container1 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 150px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 105px;
    margin-left: 265px;
}

#container2 h3 {
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #D81515;
    margin-left: 325px;
    margin-top:47px;
    
}

#container2 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    text-align: right;
    position: absolute;
    margin-left: 115px;
}

#container2 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 150px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 130px;
    margin-left: 265px;
}

#container3 h3 {
    font-family: Montserrat-Bold;
    font-size: 36px;
    float: right;
    position: relative;
    color: #D81515;
    margin-top:-475px;
    margin-right: 175px;
    
}

#container3 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    float: right;
    position: relative;
    margin-right: 90px;
    margin-top: -420px;
}

#container3 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 180px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -318px;
    margin-right: 200px;
}

#container4 h3 {
    font-family: Montserrat-Bold;
    font-size: 36px;
    float: right;
    position: relative;
    color: #D81515;
    margin-top: -223px;
    margin-right: 125px;
    
}

#container4 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    float: right;
    position: relative;
    margin-right: 68px;
    margin-top: -175px;
}

#container4 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 220px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -70px;
    margin-right: 160px;
}