/* Style CSS */
* {
    margin:0 auto;
    padding: 0;
    
}

body{

}

#centraliza{
    display: block; 
	position: relative; 
	width: 1280px;
}

a:link{ /* Remove underline do link*/
    text-decoration: none;
}

/* HEADER & MENU ----------------- */
header h1#logo-texto{
    font-family:  Montserrat-ExtraBold;
    font-size: 40px;
    color: #D81515;
    position: absolute;
    left: 126px;
    top: 15px;
    text-align: left;
}

#logo-laco{

    position: absolute;
    top: 8px;
    left: 66px;
}

header {
    height: 80px;
    border-bottom: 9px solid #3D2DEF;
    text-align: center;
}


nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    position: absolute;
    top: 30px;
    left: 50%;
}

nav#menu li{
    display: inline-block;
    color: #3D2DEF;
    font-size: 20px;
    font-family: Montserrat-ExtraBold;
    margin-right: 15px;
    
}

nav#menu a{ color:#3D2DEF;}

nav#menu #loginbtn{
    border: 4px solid #3D2DEF;
    border-radius: 30px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Section Apresentação --------- */
section#apresentacao{
    border-bottom: 5px solid #3D2DEF;
    height: 848px;
}

section#apresentacao h1{
    float:left;
    font-family: Montserrat-ExtraBold;
    font-size: 32px;
    color: #3D2DEF;
    margin-left: 10%;
    margin-top: 185px;
}

section#apresentacao p{
    position: absolute;
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: #05013A;
    margin-top: 316px;
    margin-left: 10%;
}

#cachorro1elipse{
    float: right;
    margin-top: 44px;
    margin-right: 91px;
}
#cachorro2elipse{
    float: right;
    margin-top: 215px;
    margin-right: -24px;
}

section#apresentacao button{
    background-color: #3D2DEF;
    width: 234px;
    height: 48px;
    float: left;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    margin-top: 12%;
    margin-left: 10%;
    cursor: pointer;
}

section#apresentacao a#btn-queroapadrinhar{
    float:left;
    color: #3D2DEF;
    font-family: Montserrat-Extrabold;
    font-size: 20px;
    margin-top: 12.5%;
    margin-left: 2rem;
}

.mobile-menu-icon {
    display: none;
     
}


.mobile-menu{
    display: none;
}

.mobile-menu-icon button{
    background-color: #FFFFFF;
    border: none;
    margin-left: 70%;
    margin-top: 20px;
}

.mobile-menu-icon img{
    height: 50px;
    
}



.mobile-menu ul{
    list-style: none;
    position: absolute;
    top: 72px;
    left: 657px;
}

.mobile-menu li a{
    width: 100%;
    display: inline-block;
    color: #3D2DEF;
    font-size: 20px;
    font-family: Montserrat-ExtraBold;
    text-align: center;
    margin: 5%;
    
}

.nav-item{ color:#3D2DEF;}

 #loginbtn{
    border: 4px solid #3D2DEF;
    border-radius: 30px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card{
    margin-top: 5%;
    width:300px ;
    height: 480px;
    border-radius: 60px;
    border: 6px solid #3D2DEF;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin: 30px;
}

#titulo{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    font-size: 35px;
    color: #D81515;
}

.card img{
    border-radius: 20px ;
    
}

.card button{
    background: #FFFFFF;
    border-radius: 25px;
    width: 50%;
    height: 10%;
    padding: 5%;
    margin-top: 10px;
    border: 4px solid #3D2DEF;
}

#B1 {
    color: #ffff;
    font-size: 15px;
    font-weight:600;
    text-align: center;
    background-color: #3D2DEF;
    font-family: 'Montserrat', sans-serif;
}

#B2{
    color: #3D2DEF;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   
}




@media screen and (max-width:1044px ){

    #menu li a {
        display: none;
    }

   .mobile-menu {
        display: none;
    }
    .mobile-menu-icon button{
        cursor: pointer;
    }
    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-decoration: center;
    }

    .mobile-menu .nav-item{
        display: block;
    }

    .mobile-menu .icon{
        display: block;
    }

    .mobile-menu .icon button{
        width: 100%;
    }

    .open{
        display: block;
    }
}

/* Section Fazer a Diferença --------- */
section#fazer_diferenca {
    height: 870px;
    border-bottom: 5px solid #3D2DEF;
}


section#fazer_diferenca h2{
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
    color: #D81515;
    text-align: center;
    margin-top: 58px;
}

#cachorro3{
    position: absolute;
    margin-left: 400px;
    margin-top: -35px;
}

#container1 h3{
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #D81515;
    margin-left: 290px;
    margin-top:130px;
    
}

#container1 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    text-align: right;
    position: absolute;
    margin-left: 149px;
}

#container1 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 150px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 105px;
    margin-left: 265px;
}

#container2 h3 {
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #D81515;
    margin-left: 325px;
    margin-top:47px;
    
}

#container2 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    text-align: right;
    position: absolute;
    margin-left: 115px;
}

#container2 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 150px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 130px;
    margin-left: 265px;
}

#container3 h3 {
    font-family: Montserrat-Bold;
    font-size: 36px;
    float: right;
    position: relative;
    color: #D81515;
    margin-top:-475px;
    margin-right: 175px;
    
}

#container3 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    float: right;
    position: relative;
    margin-right: 90px;
    margin-top: -420px;
}

#container3 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 180px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -318px;
    margin-right: 200px;
}

#container4 h3 {
    font-family: Montserrat-Bold;
    font-size: 36px;
    float: right;
    position: relative;
    color: #D81515;
    margin-top: -223px;
    margin-right: 125px;
    
}

#container4 p{
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: black;
    float: right;
    position: relative;
    margin-right: 68px;
    margin-top: -175px;
}

#container4 button{
    background-color: #3D2DEF;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    width: 220px;
    height: 48px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -70px;
    margin-right: 160px;
}

/* Section Por que Adotar? --------- */

section#pqadotar {
    height: 757px;
}

section#pqadotar #shelterdog{
    margin-top: 84px;
    margin-left: 97px;
}

section#pqadotar h3{
    font-family: Montserrat-ExtraBold;
    font-size: 43px;
    color: #3D2DEF;
    float:right;
    margin-top: 125px;
    margin-right: 155px;
}

section#pqadotar p{
    font-family: Montserrat-Regular;
    font-size: 32px;
    color:black;
    float: right;
    text-align: center;
    margin-right: 90px;
    margin-top: -360px;
}

section#pqadotar button{
    background-color: #EAC850;
    width: 234px;
    height: 48px;

    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    margin-top: 77px;
    margin-left: 391px;
    cursor: pointer;
}

section#pqadotar a#btn-queroapadrinhar{

    color: #EAC850;
    font-family: Montserrat-Extrabold;
    font-size: 20px;
    margin-left: 23px;
}

/* Section O que é? --------- */
section#oquee{
    height: 767px;
    background-color: #DCC7ED;

}

section#oquee h4{
    font-family: Montserrat-ExtraBold;
    font-size: 48px;
    color: #3D2DEF;
    float:left;
    margin-top: 67px;
    margin-left: 147px;
    text-align: center;
    line-height: 59px;
}

section#oquee p{
    font-family: Montserrat-Regular;
    font-size: 36px;
    float:left;
    position: absolute;
    color:black;
    margin-left: 150px;
    margin-top: 220px;
}

#cachorro4{
    float:right;
    position: relative;
    margin-top: -40px;
    margin-right: 100px;
}

section#oquee button{
    background-color: #6E19B0;
    width: 234px;
    height: 48px;

    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    margin-top: 510px;
    margin-left: 391px;
    cursor: pointer;

}

section#oquee a#btn-queroapadrinhar{
    color: #6E19B0;
    font-family: Montserrat-Extrabold;
    font-size: 20px;
    float: left;
    margin-left: 653px;
    margin-top: -35px;

}

/* Section Benefícios --------- */
section#beneficios{
    height: 760px;
}

section#beneficios h4{
    font-family: Montserrat-ExtraBold;
    font-size: 48px;
    color: #E08531;
    text-align: center;
    margin-top: 108px;
}

section#beneficios #container1{
    width:327px;
    height: 437px;
    background-color: #7268E4;
    float: left;
    margin-left: 105px;
    margin-top: 60px;

}

section#beneficios #container1 h6{
    font-family: Montserrat-ExtraBold;
    font-size: 32px;
    color:#E08531;
    text-align: center;
    margin-top: 50px;
}

section#beneficios #container1 p{
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
    line-height: 33px;
}

section#beneficios #container2{
    width:327px;
    height: 437px;
    background-color: #7268E4;
    float: left;
    margin-left: 55px;
    margin-top: 60px;

}

section#beneficios #container2 h6{
    font-family: Montserrat-ExtraBold;
    font-size: 32px;
    color:#E08531;
    text-align: center;
    margin-top: 55px;
}

section#beneficios #container2 p{
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 65px;
    margin-left: 52px;
    line-height: 33px;
}

section#beneficios #container3{
    width:327px;
    height: 437px;
    background-color: #7268E4;
    float: left;
    margin-left: 55px;
    margin-top: 60px;

}

section#beneficios #container3 h6{
    font-family: Montserrat-ExtraBold;
    font-size: 32px;
    color:#E08531;
    text-align: center;
    margin-top: 50px;
}

section#beneficios #container3 p{
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 33px;
    margin-left: 40px;
    line-height: 30px;
}

section#beneficios button{
    background-color: #E08531;
    width: 234px;
    height: 48px;
    font-family: Montserrat-ExtraBold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    margin-top: 50px;
    margin-left: 391px;
    cursor: pointer;
}

section#beneficios a#btn-queroapadrinhar{

    color: #E08531;
    font-family: Montserrat-Extrabold;
    font-size: 20px;
    margin-left: 23px;
}

/* Section Informativo -------------- */
section#informativo{
    height: 704px;
    background-color: #EFEEF4;
}

section#informativo #caixa-fundo{
    background-color: #3D2DEF;
    width: 809px;
    height: 526px;
    border-radius: 50px;
    float: left;
    position: absolute;
    margin-left: 142px;
    margin-top: 69px;
}

section#informativo #caixa-fundo a{
    color: #FFFFFF;
    font-family: Montserrat-Light;
    font-size: 36px;
    float: left;
    margin-top: 45px;
    margin-left: 90px;
}
#cachorro5{
    position: relative;
    float: right;
    margin-right: 25px;
    margin-top: -19px;

}

/* Section Rodapé Info --------- */
section#rodape-info{
    height: 449px;

}

#logo-laco-rodapeinfo{
    float: left;
    margin-left: 436px;
    margin-top: 45px;
}

section#rodape-info h1{
    float: left;
    font-family:  Montserrat-ExtraBold;
    font-size: 40px;
    color: #D81515;
    position: relative;
    top: 53px;
    text-align: left;
}

section#rodape-info p{
    font-family: Montserrat-Regular;
    font-size: 40px;
    color: #3D2DEF;
    text-align: center;
    float: left;
    margin-left: 198px;
    margin-top: 20px;
}

/* Footer --------------------------- */
footer{
    height: 476px;
    background-color: #3D2DEF;
	width: 100%;
}

#logo-laco-footer{
    float: left;
    margin-left: 57px;
    margin-top: 88px;
}

footer h1{
    font-family:  Montserrat-ExtraBold;
    font-size: 40px;
    color: #D81515;
    text-align: left;
    float: left;
    margin-top: 96px;
}

#cartoon-footer{
    position: absolute;
    float: left;
    margin-top:100px;
    margin-left: -350px;
}

footer a{
    color: white;
}

footer ul#contato1{
    list-style: none;
    position: relative;
    float: left;
    top: 96px;
    left: 250px;

}

footer ul#contato1 li{
    color: white;
    font-size: 20px;
    font-family: Montserrat-ExtraBold;
    line-height: 65px;

}

footer ul#contato2{
    list-style: none;
    position: relative;
    float: left;
    top: 96px;
    left: 350px;

}

footer ul#contato2 li{
    color: white;
    font-size: 20px;
    font-family: Montserrat-ExtraBold;
    line-height: 65px;

}

footer p#copy{
    font-family: Montserrat-Light;
    color: white;
    font-size: 13px;
    position: absolute;
    text-align: center;
    bottom: 15px;
    margin-left: 460px;
}